<h1>Heroes <small>Marvel y DC</small></h1>
<hr>

<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="card-coulmns">
        <div class="card h-100">
            <img src="assets/img/aquaman.png" class="card-img-top" alt="...">
            <div class="card-block">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>

                <button type="button" class="btn btn-outline-primary btn-block">
                    Ver más...
                </button>

            </div>
        </div>
    </div>

</div>